body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 10 px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    
}

.logo {
    height: 50px;
}

.buscador {
    flex-grow: 1;
    text-align: center;
}



.barraMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.barraMenu >ul >li{
    float: left;
    display: block;
    padding: 10px;
    background-color: #333;
    
}

.barraMenu >ul >li a{
    color: white;
    text-decoration: none;
}

.barraMenu >ul >li:hover{
background-color: rgb(0, 0, 0);
}

.barraMenu >ul >li ul.dropdown li{
    display: block;
    padding: 18px 20px;
}

.barraMenu >ul >li ul.dropdown li:hover{
    background-color: #2fa1fe;
}


.barraMenu >ul >li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
}

.barraMenu >ul >li:hover ul.dropdown{
    background-color: rgb(0, 0, 0);
    display: block;
    
}
.menuVertical {
  width: 100%;
}

.menuVertical a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menuVertical a:hover {
  background-color: #ccc;
}

.menuVertical a.active {
  background-color: #04AA6D;
  color: white;
}

input[type=text] {
  width: 100%;
  border: none;
  font-size: 30px;
}

.resultados p{
  display: block;
  float: right;
}

.resultados img{
  display: block;
  padding: 20px;
}

#logo{
  height: 80px;
  width: 50px;
}


.item1 {grid-area: menu;}
.item2 {grid-area: busqueda;}
.item3 {grid-area: resultados;}

.vistaGrid {
    display: grid;
    grid-template-areas:
      'menu menu menu menu'
      'busqueda resultados resultados resultados';

    background-color: black;
  }

.vistaGrid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }

  .vistaGrid > .item1 {
    background-color: rgb(29, 29, 29);
    color: rgb(25, 101, 241);
    padding: 10px 0;
  }

  .vistaGrid > .item2 {
    background-color: rgb(180, 180, 180);

  }

  .vistaGrid > .item3 {
    background-color: rgb(255, 255, 255);
  }



  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
