body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: rgb(68, 64, 64);;
  color: white;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 200px;
  height: 100px;
}
/* DIV PRINCIPAL */


.primerDiv > .item1 {
  background-color: black;
  color: rgb(25, 101, 241);
}
.buscador {
  flex-grow: 1;
  text-align: center;
  position: relative;
  size: 50px;
}
.cajaBuscar{
  position: relative;
  top: 10px;
  left: 10px;
  width: 40px;
  padding-right: 5px;
}
input[type = "search"]:hover, input[type ="submit"]:hover{
  border: 2px solid blue;
  size: 50px;
}

.barraMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  font-size: x-large;
}



/* BARRA MENU */

.barraMenu>ul>li a {
  color: white;
  text-decoration: none;
}

.barraMenu>ul>li:hover {
  background-color: rgb(17, 7, 158);
}

.barraMenu>ul>li ul.dropdown li {
  display: block;
  padding: 18px 20px;
}

.barraMenu>ul>li ul.dropdown li:hover {
  background-color: #d1596d;
}


.barraMenu>ul>li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
}

.barraMenu>ul>li:hover ul.dropdown {
  display: block;
  background-color: black;
}
.barraMenu>ul>li {
  float: left;
  padding: 10px;
  display: block;
  background-color: black;
   

}

.menuVertical {
  width: 99%;
  padding-top: 100px;
}

.menuVertical a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border: 0.2px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.menuVertical a:hover {
  background-color: #ccc;
}

.menuVertical a:nth-child(even){
  background-color: #2fa1fe6b;
}

a > input[type=text] {
  width: 100%;
  border: none;
  font-size: 30px;
}

.resultados {
  border: 1px solid rgb(158, 158, 158);
  border-radius: 10px;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 850px;
}


.busqueda > p{
  display: block;
  float: right;
  text-align: right;
  padding: 20px;
  font-size: 14px;
}

.resultados img{
  display: block;
  padding: 20px;
}

#logo{
  height: 80px;
  width: 50px;
}

form{
  display: block;
}
.dropdown > li img{
  width: 25px;
  height: 25px;
}
label img{
  width: 5%;
  height: 5%;
}

.resultado {
  display: flex;
  margin: 5px;

}

.genColores li:nth-child(even){
  background-color: #716febd3;
}


h1{
  text-align: center;
}

.resultado h2{
  font-size: 20px;
  transition: font-size 0.3s ease;
}

.resultado:hover {
  background-color: rgb(228, 226, 226);
}

.resultado:hover h2 {
  font-size: 24px
}

.resultado .imagenResultados{
  transition: 0.3s ease;
}

.resultado:hover .imagenResultados{
  transform: scale(1.1);
}

.resultado a{
  text-decoration: none;
  color: black;
}

.infoPelicula {
  text-align: left;
}

h1{
  padding: 20px;
}






.item1 {grid-area: menu;}
.item2 {grid-area: busqueda;}
.item3 {grid-area: resultados;}

.vistaGrid {
    display: grid;
    grid-template-areas:
      'menu menu menu menu'
      'busqueda resultados resultados resultados';

    background-color: black;
  }

.vistaGrid > div {
    background-color: rgba(255, 255, 255, 0.8);


  }

  .vistaGrid > .item1 {
    background-color: rgb(29, 29, 29);
    color: rgb(25, 101, 241);
    padding: 10px 0;
  }

  .vistaGrid > .item2 {
    background-color: rgb(255, 255, 255);

  }

  .vistaGrid > .item3 {
    background-color: rgb(255, 255, 255);
  }



  .footer {
    background-color: rgb(68, 64, 64);
    color: white;
    padding: 30px;
    
  }
  .footerLista{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
  }
  .footerLista a{
    display: inline;
    margin-right: 20px;
    color: white;  
  }
  .footerSpan{
    text-align: center;
  }
  footer .logo img {
    float: none;
    text-align: center;
    position: relative;
    left: 45%;}
  
  #imagenHamburguesa{
    display: none;
  }


  @media only screen and (max-width: 600px) {
  
    .vistaGrid {
      grid-template-areas:
        'menu menu menu menu'
        'resultados resultados resultados resultados'
        'busqueda busqueda busqueda busqueda';
    }
  
    .vistaGrid > .item2 {
      grid-area: busqueda;
    }

    h1 {
      text-align: left;
      margin-left: 40px;
    }

    .vistaGrid > .item3 {
      grid-area: resultados;
    }
  
    .vistaGrid > .item3 .busqueda {
      margin-top: 20px;
    }



    .busqueda{
      margin: 0;
    }

    .menuVertical{
      width: 480px;
    }

    .resultados{
      width: 470px;
      margin-left: 10px;
    }

    
  .item1{
    height: 100%;
    position: absolute;
    width: 100%;
    display: none;
  }
  
  .menu {
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .menu > .barraMenu {
    width: 100%; 
    text-align: left; 
  }
  
  .menu > .barraMenu > ul {
    padding-left: 0; 
  }
  
  .menu > .barraMenu > ul > li {
    float: none;
    display: block;
    text-align: left;
    margin: 40px;
    font-size: 30px;
  }

  .menu > .buscador {
    display: none;
  }

  #imagenHamburguesa{
    float: left;
    display: block;
    z-index: 999;
  }

  
  h1{
    margin-top: 50px;
  }
    


  
    
  }
  
  @media only screen and (max-width: 1024px) {
    .vistaGrid {
      grid-template-areas:
        'menu'
        'resultados'
        'busqueda';
    }
  
    .menuVertical {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .menu > .barraMenu {
      width: 100%;
      text-align: center;
    }
  
    .menu > .barraMenu > ul > li {
      margin: 50px;
      font-size: 30px;
    }
  
    .menu > .barraMenu > ul {
      padding-left: 0;
    }
  
    .menu > .buscador {
      display: none;
    }
  
    #imagenHamburguesa {
      display: block;
      margin-bottom: 20px;
    }
  
    .resultados{
      width: 90%;
      margin-left: 20px;
    }

    .item1 {

      height: 20%;
      position: absolute;
      width: 100%;
      display: none;
    }
  
    .footer {
      text-align: center;
    }
  }
  
  