body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
}

.buscador {
    flex-grow: 1;
    text-align: center;
}

.barraMenu {
    display: flex;
}

.menu div {
    padding: 0 10px;
}
.redesSociales{
    background-color: aqua;
}
p {
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
}
h1 {
    color: blue;
    font-style: italic;
    
}
h2{
    color: blue;
}
li {
    color: white;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
