body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 10 px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    
}

.logo {
    height: 50px;
}

.buscador {
    flex-grow: 1;
    text-align: center;
}



.barraMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.barraMenu >ul >li{
    float: left;
    display: block;
    padding: 10px;
    background-color: #333;
    
}

.barraMenu >ul >li a{
    color: white;
    text-decoration: none;
}

.barraMenu >ul >li:hover{
background-color: rgb(0, 0, 0);
}

.barraMenu >ul >li ul.dropdown li{
    display: block;
    padding: 18px 20px;
}

.barraMenu >ul >li ul.dropdown li:hover{
    background-color: #2fa1fe;
}


.barraMenu >ul >li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
}

.barraMenu >ul >li:hover ul.dropdown{
    background-color: rgb(0, 0, 0);
    display: block;
    
}
.menuVertical {
  width: 99%;
}

.menuVertical a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border: 0.2px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.menuVertical a:hover {
  background-color: #ccc;
}

.menuVertical a.active {
  background-color: #04AA6D;
  color: white;
}

a > input[type=text] {
  width: 100%;
  border: none;
  font-size: 30px;
}

.resultados {
  border: 1px solid rgb(158, 158, 158);
  border-radius: 10px;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 850px;
}


.busqueda > p{
  display: block;
  float: right;
  text-align: right;
  padding: 20px;
  font-size: 14px;
}

.resultados img{
  display: block;
  padding: 20px;
}

#logo{
  height: 80px;
  width: 50px;
}

.cajaBuscar{
  background-color: #2fa1fe;
}
form{
  display: block;
}
.dropdown > li img{
  width: 25px;
  height: 25px;
}
label img{
  width: 5%;
  height: 5%;
}




.item1 {grid-area: menu;}
.item2 {grid-area: indice;}
.item3 {grid-area: contenido;}


.vistaGrid {
    display: grid;
    grid-template-areas:
      'menu menu menu menu menu'
      'indice indice contenido contenido contenido';
    background-color: #333;
  }

.vistaGrid > div {
    background-color: #111;
    color: #fff;
    padding: 100px;
}


.vistaGrid > .item1 {
  background-color: rgb(29, 29, 29);
  color: rgb(25, 101, 241);
  padding: 10px 0;
}

.vistaGrid > .item2 {
  padding: 125px;
}

.vistaGrid > .item3{
  background: #000;
}



.vistaGrid h1{
  font-size: 25px;
}

.vistaGrid h2{
  font-size: 20px;
}

.vistaGrid h3{
  font-size: 17px;
}

.vistaGrid p{
  font-size: 13px;
  text-align: justify;
}



#Indice{
  position: fixed;
  top: 80px;
  left: 10px; 
  z-index: 999;
}
#Indice >ul >li{
  list-style: none;
}


.item2 {
  width: 99%;
}
.item2 a {
  background-color: #2fa1fe;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border: 0.2px solid rgb(172, 172, 172);
  margin-top: 5px;
  margin-left: 35px;
  
}

.item2 a:hover {
  background-color: #ccc;
}






.pelicula {
  display:flex;
}
.sinopsis {
  float: left;
  width: 20%;
  padding: 20px;
}

.reparto {
  float: right;
  width: 80%;
  padding: 20px;
}

.reparto li{
  font-size: 13px;
  line-height: 20px;
  border: 1px  solid white;
  list-style: none;
}

.opiniones {
  display:flex;
}
.opiniones-columna {
  float: left;
  width: 50%;
  padding: 20px;
}

.formulario-columna {
  float: right;
  width: 50%;
  padding: 20px;

}

input[type="submit"] {
  color: #000;
  background-color: #2fa1fe;
}












table {
  width: 100%;
  border-collapse: collapse;
  
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
 
}
th {
  font-size: 20px;
  text-align: left;
  padding-top: 40px;
}


td{
  background-color: #2fa1fe;
  font-size: 13px; 
}



.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}



